{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans " Cadastre-se " %}{% endblock %}

{% block content %}
<head>
 
  <div class="container text-center mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">   
          <br><br><br>
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %} Você está prestes a se conectar com {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %} Cadastre-se através {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Você será redirecionado para sua conta google {{ provider }}.{% endblocktrans %}</p>
{% endif %}
<br><br><br><br>
<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continue" %}</button>
  <br><br><br><br><br>
</form>
</div></div></div>
{% endblock %}
