{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>

{% block content %}

<div class="container text-center mt-5">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
  
<h1>{% trans "" %}</h1>
<main class="conteudo">
  <section class="conteudo-principal">
      <div class="conteudo-escrito">
          <h1 class="conteudo-titulo">Agendaí</h1>
          <h2 class="conteudo-subtitulo">Sua central de agendamentos esta aqui!</h2>
      </div>
    

{% get_providers as socialaccount_providers %}



{% if socialaccount_providers %}


</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>


{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Se você ainda não tem uma conta, por favor
<a href="{{ signup_url }}">Inscreva-se</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>

  <div class="row mt-5 mb-5">
  <div class="col-lg-6 col-md-6 col-sm-12">  
  <div class="socialaccount_ballot"></div>
  <div class="login-or">{% trans 'or' %}</div>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</form>
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
