{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

  
<h1>{% trans "" %}</h1>
    

{% get_providers as socialaccount_providers %}


{% if socialaccount_providers %}



{% include "socialaccount/snippets/login_extra.html" %}


{% endif %}


<div class="container text-dark mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5 bg-grey p-3">
      <h1 class="h3 mb-3 mt-5">Entre com a sua conta</h1>
      
      <form class=" container text-dark mt-5 justify-content-md-center" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
        
          <input type="hidden"  class="sr-only" name="{{ redirect_field_name }}"  value="{{ redirect_field_value }}"/>
          {% endif %}
        </form>
          <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button>
        

          <!-- <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          <label for="inputPassword" class="sr-only">Senha</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar-me
            </label>  
          </div> -->
          <!-- <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button> -->
      
          <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-light btn-block" role="button" aria-pressed="true">Entrar com o google</a>
          <!-- <p class="mt-5 mb-3 text-muted">&copy; Agendai</p> -->
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        
        
        <p>{% blocktrans with site.name as site_name %}<h3 class=" h3 mb-3">Se você ainda não tem uma conta, por favor,</h3> <a href="{{ signup_url }}"><button class="btn btn-lg btn-light btn-block" type="submit">Inscreva-se</button></a>
          {% endblocktrans %}</p>
          <div class="espaco"></div>
    </div>
  </div>
</div>





{% endblock %}
