{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}



  
<h1>{% trans "" %}</h1>
<!-- <main class="conteudo">
  <section class="conteudo-principal">
      <div class="conteudo-escrito">
          <h1 class="conteudo-titulo">Agendaí</h1>
          <h2 class="conteudo-subtitulo">Sua central de agendamentos esta aqui!</h2>
      </div> -->
    

{% get_providers as socialaccount_providers %}



{% if socialaccount_providers %}


<!-- </div> -->

<p>{% blocktrans with site.name as site_name %}Se você ainda não tem uma conta, por favor, <a href="{{ signup_url }}">Inscreva-se</a>
{% endblocktrans %}</p>


{% include "socialaccount/snippets/login_extra.html" %}


{% endif %}


<div class="container text-dark mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5 bg-grey p-3">
      <form class="form-signin">
          <h1 class="h3 mb-3">Por favor, inscreva-se</h1>
          <label for="inputEmail" class="sr-only">Endereço de Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Senha</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar-me
            </label>  
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
          <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Logar com o google</a>
          <p class="mt-5 mb-3 text-muted">&copy; Agendai</p>
        </form>
    </div>
  </div>
</div>





{% endblock %}
