{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-5 bg-grey p-3">
         <h1>{% trans "Password Reset" %}</h1>
    <br><br><br><br>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
            <p>{% blocktrans %} Nós lhe enviamos um e-mail. Caso não tenha recebido, verifique sua caixa de spam. Caso contrário, entre em contato conosco se você não recebê-lo em alguns minutos.{% endblocktrans %}</p>
            <br><br><br><br><br>
        </div>
    </div>
  </div>
{% endblock %}
