{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container px-1 mx-auto">
  <div class="cadastro">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">   

<h1 class="entre-titulo">{% trans "Sign Up" %}</h1>

<p class="entre">{% blocktrans %}Ja possui uma conta? Por favor, <a href="{{ login_url }}">entre</a>.{% endblocktrans %}</p>
      </div>
    </div>
<div class="cadastro">
<form class="cadastre" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <form class="cadastre" id="signup_form" method="post" action="/accounts/signup/">
    <input type="hidden" name="csrfmiddlewaretoken" value="pwTibctJXet9TIWKCnNtGsSqxDVx2ZJimqXSQR8R1XEefnNXn8kWGkBCzV9yIVRU">
    <p>
      <input type="email" name="email" placeholder="Endereço de e-mail" autocomplete="email" required="" id="id_email">
    </p>
    <p>
      <input type="text" name="username" placeholder="Nome de usuário" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
    </p>
    <p> 
      <input type="text" name="cpf"     
      placeholder="CPF" autocomplete="cpf" maxlength="12" required="" id="id_cpf">
    </p>
    <p>
      <input name="data nascimento" placeholder="Data de nascimento"  autocomplete="data nascimento" id="id_date" type="date">
    </p>
    <p>
    <p>
      <input type="password" name="password1" placeholder="Senha" autocomplete="new-password" required="" id="id_password1">
    </p>
    <p>
      <input type="password" name="password2" placeholder="Senha (novamente)" autocomplete="new-password" required="" id="id_password2">
    </p>
    <button class="botao-cadastro" type="submit">Cadastro</button>
  </form>
</form>
</div>
</div>

{% endblock %}
