<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div>sahushashnuahsan</div>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Mudar E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sair</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/empresas/list">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pessoas/list">Pessoas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ag">Agendamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>                       
        {% else %}
        <li><a href="{% url 'account_login' %}">Entrar</a></li>
        <li><a href="{% url 'account_signup' %}">Inscreva-se</a></li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
        </li>  -->
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>

</html>
