{% extends 'base.html' %}

{% block title %}Calendario{% endblock %}

{% block content %}
<div class="offset-1 col-11 list-div">
    <h1>Lista de Calendario</h1>
    <div class="container dashboard">        
        <div class="col-10 dashboard-box" id="dashboard-done">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h4>Calendario</h4>            
            <ul class="task-list">
                <div class="row">
                    <div class="col" >
                        <span text-left>ID</span>
                    </div>           
                    <div class="col">
                        <span>Nome</span>
                    </div>           
                    <div class="col">
                        <span>CNPJ</span>
                    </div>
                    <div class="col">
                        <span>Atividade</span>
                    </div>
                    <div class="col">
                        <span>Telefone</span>
                    </div> 
                    <div class="col">
                        <span>Endereço</span>
                    </div> 
                    <div class="col">
                        <span>Email</span>
                    </div> 
                    <div class="col">
                        <span>Serviço</span>
                    </div>
                    <div class="col">
                        <span>Ativo</span>
                    </div>                  
     
                    <div class="col">
                        <span><i class="fas fa-edit"></i></span>
                        <span><i class="fas fa-trash"></i></span>
                        <!-- <a href="/changestatus/{{i.id}}"><i class="fas fa-check"></i></a>  -->
                    </div>
                </div>

                


                {% for i in empresas %}        
                <div class="row">
                    <div class="col" >
                        <span>{{i.id}}</span>
                    </div>           
                    <div class="col">
                        <span>{{i.pessoa_nome}}</span>
                    </div>           
                    <div class="col">
                        <span>{{i.pj_cnpj}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pj_atividade}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_telefone}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_endereco}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_email}}</span>
                    </div> 
                    <div class="col">
                        <span>{{i.pj_servico}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.ativo}}</span>
                    </div>                    
     
                    <div class="col">
                        <a href="/Calendario/edit/{{i.id}}"><span><i class="fas fa-edit"></i></span></a>
                        <a href="/Calendario/delete/{{i.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>        
                        <!-- <a href="/changestatus/{{i.id}}"><i class="fas fa-check"></i></a>  -->
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <a id="add-link" href="/Calendario/add">
                            <div class="add-div">
                                <i class="fas fa-plus"></i> Adicionar Calendario
                            </div>
                        </a>                   
                    </div>
                    <div class="col">                        
                        <div class="search-div">
                            <form method="GET" id="search-form">
                                <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                                <i class="fas fa-search" id="search-btn"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
</div>
</div>
{% endblock %}