{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

{% csrf_token %}  


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <div class="text-center">        
</head>
<body>
<hr>
<div class="container text-center">
  <div class="row">  
  <div class="col=xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Sobre a Agendaí</h1>
    <p><center>Um Sistema de agendamento,pratico com manuseio fácil e rápida para seus clientes marcarem horários sem precisar ligar ou mandar mensagem, facilitando o atendimento entre cliente e o estabelecimento, deixando o seu dia mais dinamico, como prioridade na sastisfação do cliente</center></p>
    <h2>Missão</h2>
    <p><center>Objetivo:Qualidade organizacional, engajamento dos coloboradores e parceiro</center></p>
    <h2>Visão</h2>
    <p><center>Visão: Atravês de nossos serviços, queremos proporcionar facilidades para nossos parceiros gerando lucro e fluxo. Nossa meta é se uma empresa destaque na area de agendamento em Santa Catarina nós proximos 2 anos</center></p>
    <h2>Valores</h2>
    <p><center>Valores: Inspirar e reter talentos para que a excelencia de nossos produtos seja recebida por nossos clientes.</center></p>
  </div>    
</div> 
</div>

  
</body>
    </html>
    {% endblock %}