{% extends "base.html" %}

{% block style %}
    
{% endblock style %}

{% block content %}

    {% if mensagens %}
    <div class="card notification-card notification-invitation">
        <div class="card-body">
        {% for mensagem in mensagens %}
                <div class="card-title">{{mensagem}}</div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>
                    Realize o seu agendamento
                </h3>
                <p class="blue-text">Use o formulário abaixo para nos solicitar um agendamento.</p>
                <div class="card">
                    
                    <form class="form-card" method="POST" action="{% url 'agendamento' %}">
                    {% csrf_token %}
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Nome<span class="text-danger"> *</span>
                                </label> 
                                <input required type="text" id="fname" name="fname" placeholder="Informe seu nome" onblur="validate(1)"> 
                            </div>

                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Sobrenome<span class="text-danger"> *</span></label> 
                            <input required type="text" id="lname" name="lname" placeholder="Informe seu sobrenome" onblur="validate(2)"> 
                        </div>

                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span>
                                </label> 
                                <input type="text" id="email" name="email" placeholder="Informe seu e-mail" onblur="validate(3)"> 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                             <label class="form-control-label px-3">Telefone<span class="text-danger"> *</span></label> 
                              <input type="text" id="mob" name="mobile" placeholder="Informe seu número de telefone" onblur="validate(4)"> 
                            </div>

                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">CPF<span class="text-danger"> *</span>
                                </label> 
                                <input type="text" id="cpf" name="cpf" placeholder="Informe seu Cpf" onblur="validate(5)"> 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                             <label class="form-control-label px-3">Data de Nascimento<span class="text-danger"> *</span></label> 
                              <input type="text" id="nascimento" name="nascimento" placeholder="Informe sua data de nascimento" onblur="validate(6)"> 
                            </div>

                        </div>

                        <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex">
                                    <label class="form-control-label px-3">Realize o seu agendamento<span class="text-danger"> *</span></label>
                                    <input type="datetime-local" name="message" class="form-control mb-2" 
                                        placeholder="dd-mm-yyyy" value=""
                                        min="1997-01-01" max="2030-12-31">
                                        <input hidden="true" name="appointment-id" value="{{agendamento.id}}">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-12"> <button type="submit" class="btn-block btn-primary">Enviar</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
 
{% block script %}
    function validate(val) {
    v1 = document.getElementById("fname");
    v2 = document.getElementById("lname");
    v3 = document.getElementById("email");
    v4 = document.getElementById("mob");
    v5 = document.getElementById("cpf");
    v6 = document.getElementById("nascimento");
    v7 = document.getElementById("ans");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;
    flag7 = true;

    if(val>=1 || val==0) {
    if(v1.value == "") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }
    if(val>=2 || val==0) {
    if(v2.value == "") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }
    if(val>=3 || val==0) {
    if(v3.value == "") {
    v3.style.borderColor = "red";
    flag3 = false;
    }
    else {
    v3.style.borderColor = "green";
    flag3 = true;
    }
    }
    if(val>=4 || val==0) {
    if(v4.value == "") {
    v4.style.borderColor = "red";
    flag4 = false;
    }
    else {
    v4.style.borderColor = "green";
    flag4 = true;
    }
    }
    if(val>=5 || val==0) {
    if(v5.value == "") {
    v5.style.borderColor = "red";
    flag5 = false;
    }
    else {
    v5.style.borderColor = "green";
    flag5 = true;
    }
    }
    if(val>=6 || val==0) {
    if(v6.value == "") {
    v6.style.borderColor = "red";
    flag6 = false;
    }
    else {
    v6.style.borderColor = "green";
    flag6 = true;
    }
    }
    if(val>=7 || val==0) {
    if(v7.value == "") {
    v7.style.borderColor = "red";
    flag7 = false;
    }
    else {
    v7.style.borderColor = "green";
    flag7 = true;
    }
    }


    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6 && flag7;

    return flag;
    }
{% endblock script %}