{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col=xxl-3 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class=" card titulo">
            <h1>Agendaí</h1>
        <div class="card subtitulo">
            <h4>Sua central de agendamentos esta aqui</h4>
        </div>
        </div>
    </div>
    <div class="col=xxl-3 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-sm-12 col-xs-12">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Login</h4>
        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
        
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>

                
            </div>
        </div>
    </div>
</div>
{% endblock %}
