{% extends "base.html" %}
{% block content %}
{% for day in days %}

<div class="container mt-5">    
    <div class="d-flex justify-content-center">
        <div class="col-12 text-center">
            <article class="media content-section center">
                <div class="col-md-5 bg-grey p-3">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ day.date }}</a>
                        <small class="text-muted">{{ day.day }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ day.onduty }}</a></h2>
                    <p class="article-content">{{ day.dept }}</p>
                    <a class='btn btn-light btn-lg btn-block'href="{% url 'scheduler-sessions' %}">Editar / Cancelar</a>
                    {% if not day.A_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'A' %}">9:00-10:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.B_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'B' %}">10:00-11:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.C_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'C' %}">11:00-12:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.D_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'D' %}">14:00-15:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.E_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">15:00-16:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.F_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'F' %}">16:00-17:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.G_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'G' %}">17:00-18:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.H_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'H' %}">18:00-19:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.I_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'I' %}">19:00-20:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}

                    {% if not day.J_booked %}
                        <a class='btn btn-light btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'J' %}">20:00-21:00</a>
                    {% else %}
                        <a class='btn btn-outline-dark btn-lg btn-block' disabled>Agendado</a>
                    {% endif %}
                        </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>

{% endfor %}
{% endblock content %}
