{% extends "base.html" %}
{% block content %}
{% for day in days %}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <article class="media content-section center">
                <div class="col-md-5 bg-grey p-3">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ day.date }}</a>
                        <small class="text-muted">{{ day.day }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ day.onduty }}</a></h2>
                    <p class="article-content">{{ day.dept }}</p>
                    {% if not day.A_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'A' %}">8:00-8:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.B_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'B' %}">8:20-8:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.C_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'C' %}">8:40-9:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.D_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'D' %}">9:00-9:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.E_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">9:20-9:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.F_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'F' %}">9:40-10:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.G_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">10:00-10:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.H_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">10:40-11:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.I_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">11:00-11:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.J_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">11:20-11:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.K_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">11:40-12:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.L_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">13:30-13:50</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.M_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">14:00-14:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.N_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">14:20-14:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.O_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">15:00-15:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.P_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">15:20-15:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.Q_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">15:40-16:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.R_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">16:00-16:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.S_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">16:20-16:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.T_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">16:40-17:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.U_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">17:00-17:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.V_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">17:20-17:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.W_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">17:40-18:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.X_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">18:00-18:20</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.Y_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">18:20-18:40</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}

                    {% if not day.Z_booked %}
                        <a class='btn btn-success btn-lg btn-block'
                            href="{% url 'session-create-spec' day.date 'E' %}">18:40-19:00</a>
                    {% else %}
                        <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
                    {% endif %}
                        </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>

{% endfor %}
{% endblock content %}
