{% extends "base.html" %}
{% block content %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.serviço }}</a>
            <a class="mr-2" href="#">{{ object.email }}</a>
            <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
            
            <div>
                <a class='btn btn-secondary btn-small mt-1 mb-1' href="{% url 'session-edit' object.id %}">Editar</a>
                <a class='btn btn-danger btn-small mt-1 mb-1' href="{% url 'session-cancel' object.id %}">Cancelar</a>
            </div>
            
        </div>
        <h2 class="article-title">{{ object.nome_completo }}</h2>
        <p class="article-content">{{ object.date|date:"l" }}</p>
    </div>
</article>
</div>
</div>
</div>
{% endblock content %}
