{% extends "base.html" %}
{% block content %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Cancelar Sessão</legend>
                        <h2>Você tem certeza que deseja cancelar seu agendamento?</h2>
                    </fieldset>
                    <div class="form-group">
                        <a class="btn btn-outline-secondary" href="{% url 'session-detail' object.id  %}">Voltar</a>
                        <button class="btn btn-outline-danger" href="{% url 'session-cancel' object.id %}">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
