{% extends 'base.html' %}
{% load static %}
{% block title %}Pessoas{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
    <div class="container text-center mt-2">
    <h1>Adicione Pessoa:</h1>
    <div class="row mt-5"> 
        <div class="col-lg-6 col-md-8 col-sm-12">
    <form action="" method="post" >    
        {% csrf_token %}  
        <div class="col-lg-6 col-md-8 col-sm-12"> 
        {{ form }}        
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 mt-3">   
        <input type="submit" value="Salvar">
    </div>
    </form> 
    </div> 
    </div>
</div>
{% endblock %}
