{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Tags{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"></div>
        <section class="conteudo-principal">
            <div class="conteudo-escrito">
                <h1 class="conteudo-titulo">Agendaí</h1>
                <h2 class="conteudo-subtitulo">Sua central de agendamentos esta aqui!</h2>
                <h3 class="conteudo-subtitulo">Esse é um site para aprendizado de Python e Django</h3>
            </div>
            <img class="conteudo-imagem-mulher" src="{% static 'imagens/mulher11.png' %}">
          </section>   
          </div> 
         
     
            
            <!-- Team item -->
        <section class="container py-5" id="team">
              <div class="row text-center ">
                  <div class="col-lg-12 mx-auto">
                      <h1 class="display-4">Sobre nós</h1>
                      <p class="lead">Nosso time de desenvolvedores 
                      </p>
                  </div>
              </div>
            </section><!-- End -->     
          
              <!-- <div class="container-fluid-center"> -->
                    <div class="row text-center">
                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                          <div class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img src="{% static 'img/clayson 1.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                              <h5 class="mb-0">Clayson Nardino</h5>
                              <span class="small text-muted"><a href="mailto:c.nardino3@gmail.com">Email - </a></span>
                              <span class="small text-muted"><a href="https://www.linkedin.com/in/cnardino/" target="_blank">Linkedin</a></span>
                              <span class="small text-uppercase text-muted"><br>(49) 98900-0856</span>
                          </div>
                      </div><!-- End -->
          
                
                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                          <div  class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img  src="{% static 'img/douglas 1.png' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                              <h5 class="mb-0">Douglas Bitencourt</h5>
                              <span class="small text-muted"><a href="mailto:douglasbitencourtadm@gmail.com">Email - </a></span>
                              <span class="small text-muted"><a href="https://www.linkedin.com/in/bitencourtdoug/" target="_blank">Linkedin</a></span>
                              <span class="small text-uppercase text-muted"><br>(48) 99979-9572</span>
                          </div>
                      </div><!-- End -->
          
                      <!-- Team item -->
                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                          <div  class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img  src="{% static 'img/jessica 1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                              <h5 class="mb-0">Jéssica Maros</h5>
                              <span class="small text-muted"><a href="mailto:jessicatmaros@gmail.com">Email - </a></span>
                              <span class="small text-muted"><a href="https://www.linkedin.com/in/jessicamaros/" target="_blank">Linkedin</a></span>
                              <span class="small text-uppercase text-muted"><br>(47) 99272-4191</span>
                            </div>
                      </div><!-- End -->
          
                      <!-- Team item -->
                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                          <div  class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img  src="{% static 'img/joao.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                              <h5 class="mb-0">João Vitor Fuck</h5>
                              <span class="small text-muted"><a href="mailto:jv-rf@hotmail.com">Email - </a></span>
                              <span class="small text-muted"><a href="https://www.linkedin.com/in/joao-vitor-rios-fuck/" target="_blank">Linkedin</a></span>
                              <span class="small text-uppercase text-muted"><br>(48) 99664-5399</span>
                          </div>
                      </div><!-- End -->

                       <!-- Team item -->
                       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                        <div  class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img  src="{% static 'img/rogerio.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Rogério Hanke</h5>
                            <span class="small text-muted"><a href="mailto:rogeriohanke@gmail.com">Email - </a></span>
                              <span class="small text-muted"><a href="https://www.linkedin.com/in/rogeriohanke/" target="_blank">Linkedin</a></span>
                            <span class="small text-uppercase text-muted"><br>(51) 99523-2021</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 m-0.5">
                      <div  class="bg-white rounded shadow-sm py-5 px-4" style="width: 170px ;"><img  src="{% static 'img/adriano.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                          <h5 class="mb-0">Adriano Machado</h5>
                          <span class="small text-muted"><a href="mailto:adriano@machado.tec.br">Email - </a></span>
                            <span class="small text-muted"><a href="https://www.linkedin.com/in/xadrak/" target="_blank">Linkedin</a></span>
                          <span class="small text-uppercase text-muted"><br>(67) 99263-6781</span>
                      </div>
                  </div><!-- End -->
                </div>
              <!-- </div> -->
    
                  
          <!-- EMPRESAS PARCEIRAS/ AINDA EM TESTE -->
          <section class="container py-5" id="services">
            <div class="text-center py-5 mb-4">
              <div class="col-12">                
                <h1 class="display-4">Empresas Parceiras</h1>
                  <p class="overview">Oferecemos um agendamento personalizado para nossos parceiros</p>
                </div>
              </div>
              
              <div class="row text-center">          
                <div class="col-lg-1 col-md-6 col-sm-12 m-1">                     
                </div>     
                <div class="col-lg-1 col-md-6 col-sm-12 m-1">                    
                </div>        
                <!-- Team Member 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12 m-1"> 
                  <div class="bg-white rounded shadow-sm py-5 px-4" style="width: 230px ; height: 400px;">
                    <a href="{% url 'agendamento' %}"><img src="{% static 'imagens/jiujitsu.png' %}" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                      <h5 class="card-title mb-0">Escola de Jiu-Jitsu</h5>
                      <div class="card-text text-black-50">Academia de Artes Marciais 
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team Member 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12 m-1"> 
                  <div class="bg-white rounded shadow-sm py-5 px-4" style="width: 230px;height: 400px;">
                    <a href="{% url 'scheduler-home' %}"><img src="{% static 'imagens/beatriz.jpeg' %}" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                      <h5 class="card-title mb-0"><br><br>Estetica Beatriz Bitencourt</h5>
                      <div class="card-text text-black-50">Estetica 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-6 col-sm-12 m-1">   
                </div>     
                <div class="col-lg-1 col-md-6 col-sm-12 m-1">    
                </div> 
              </div>
              </section>
              <!-- <div class="container"> -->
                <section id="contact" class="card m-4 p-4">
                        <div class="row text-center">
                            <div class="col-12">
                            <div class="contact-detail-box">
                              <i class="far fa-envelope text-colored fa-3x"></i>
                              <h4>Entre em Contato</h4>
                              <!-- <abbr title="Telefone">Telefone:</abbr> (048) 9999-9999<br> -->
                              E: <a href="mailto:agendaieletronica@gmail.com" class="text-muted">agendaieletronica@gmail.com</a>
                            </div>
                          </div><!-- end col -->
                  
                        </div>
                        <!-- end row -->
                  
                
                 
                          <!-- Contact form -->
                          <div class="col-12">
                            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home'%}">
                            {% csrf_token %}
                              <div class="form-group">
                                <label for="name2">Seu Nome</label>
                                <input class="form-control" id="name2" name="name" type="text" placeholder="nome">
                                <div class="error" id="err-name" style="display: none;">Please enter name</div>
                              </div> <!-- /Form-name -->
                  
                              <div class="form-group">
                                <label for="email2">Email</label>
                                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
                              </div> <!-- /Form-email -->
                  
                              <div class="form-group">
                                <label for="message2">Mensagem</label>
                                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="mensagem"></textarea>
                  
                                <div class="error" id="err-message" style="display: none;">Por favor digite sua mensagem</div>
                              </div> <!-- /col -->
                  
                              <div class="row">            
                                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Enviar</button>
                                </div> <!-- /col -->
                              </div> <!-- /row -->
                  
                            </form> <!-- /form -->
                          <!-- </div> end col -->
                </section>
              </div>  
{% endblock %}