{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Tags{% endblock %}

{% block content %}
<div class="container-fluid px-1 py-3 mx-auto">
  <div class="d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <section class="conteudo-principal">
            <div class="conteudo-escrito">
              <a href="{% url 'scheduler-home' %}"><img src="{% static 'imagens/beatriz.jpeg' %}" class="card-img-top" alt="..." style="width: 600px;height: 150px;"></a>                
                <h2 class="conteudo-subtitulo">Promotora de autoestima e bem-estar</h2>
                <h3 class="conteudo-subtitulo">Estética facial e Terapia Capilar, Relaxamento e Liberação muscular</h3>
                <a href="{% url 'scheduler-home' %}">Agende seu horário</a>   
            </div>   
          </section>   
          </div> 
          </div> 
              <!-- <div class="container-fluid-center"> -->
                    <div class="row text-center px-1 py-5">
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-0.5">
                        <a href="{% url 'scheduler-home' %}"><img  src="{% static 'imagens/estetica1.png' %}" alt="" style="width: 250px; height: 250px;"></a>                                
                      </div><!-- End -->
          
                
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-0.5">
                        <a href="{% url 'scheduler-home' %}"><img  src="{% static 'imagens/estetica2.png' %}" alt="" style="width: 250px; height: 250px;"></a>                           
                      </div><!-- End -->
          
                      <!-- Team item -->
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-0.5">
                        <a href="{% url 'scheduler-home' %}"><img  src="{% static 'imagens/estetica3.png' %}" alt="" style="width: 250px; height: 250px;"></a>                          
                      </div><!-- End -->          
                 
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-0.5">
                        <a href="{% url 'scheduler-home' %}"><img  src="{% static 'imagens/estetica5.png' %}" alt="" style="width: 250px; height: 250px;"></a>                          
                      </div><!-- End -->
                    </div>
                       <!-- Team item -->
                       <div class="text-center px-1 py-5">
                        <div class="col-lg-12">
                        <h1 class="display-4">Todos os nossos serviços prestados<br></h1>
                        <a href="{% url 'scheduler-home' %}">Agende seu horário</a>   
                        <br><br>
                        <a href="{% url 'scheduler-home' %}"><img  src="{% static 'imagens/estetica4.png' %}" alt=""></a>                     
                        </div>
                      </div>
                    </div>
                        <div class=" text-center">
                            <div class="col-12">
                            <div class="contact-detail-box">
                              <i class="far fa-envelope text-colored fa-3x"></i>
                              <h4>Entre em Contato</h4>
                              <a href="mailto:estetica.beatrizb@gmail.com" class="text-muted">estetica.beatrizb@gmail.com</a><br>
                             <a href="https://www.instagram.com/beatrizbesteticista/" class="text-muted">Intagram</a>
                              <span class="small text-uppercase text-muted">(48) 99922-7103</span>
                              <br>                                
                            </div>
                          </div><!-- end col -->
                        </div>                       
              </div>  
{% endblock %}