{% extends 'base.html' %}
{% load static %}
{% block title %}Empresas{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>

<div class="col-12">
    <center><h1>Lista de Empresas</h1></center>    
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="row p-2">
                <div class="col">
                    <a id="add-link" href="/lista/empresa/add">
                        <div class="add-div">
                            <i class="fas fa-plus"></i> Adicionar Empresa
                        </div>
                    </a>                   
                </div>
                <div class="col">                        
                    <div class="search-div">
                        <form method="GET" id="search-form">
                            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                            <!-- <i class="fas fa-search" id="search-btn"></i> -->
                        </form>
                    </div>
                </div>
            </div>

                <table class="table table-borderless table-hover" border = "3" cellspacing = "3" cellpadding = "3" width = "100%">
                    <tr>
                        <td><span>ID</span></td>
                        <td><span>Nome</span></td>
                        <td><span>CNPJ</span></td>
                        <td><span>Atividade</span></td>
                        <td><span>Telefone</span></td>
                        <td><span>Endereço</span></td>
                        <td><span>Email</span></td>
                        <td><span>Serviço</span></td>
                           <td><span><i class="fas fa-edit"></i></span>
                            <span><i class="fas fa-trash"></i></span></td>
                    </tr>
                    {% for i in empresas %} 
                    <tr>
                         
                                <td><span>{{i.id}}</span></td>
                                <td><span>{{i.pessoa_nome}}</span></td>
                                <td><span>{{i.pj_cnpj}}</span></td>
                                <td><span>{{i.pj_atividade}}</span></td>
                                <td><span>{{i.pessoa_telefone}}</span></td>
                                <td><span>{{i.pessoa_endereco}}</span></td>
                                <td><span>{{i.pessoa_email}}</span></td>
                                <td><span>{{i.pj_servico}}</span></td>
                                <td><a href="/lista/empresa/edit/{{i.id}}"><span><i class="fas fa-edit"></i></span></a>
                                <a href="/lista/empresa/delete/{{i.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a></td>     
                                          
                    </tr>
                    {% endfor %} 
                </table>
                
        </div>

{% endblock %}